html, body {
  margin: 0;
  overflow-x: hidden;
}

/* nav */

.navbar {
  font-family: "Kaushan Script", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-image: linear-gradient(to right, black, grey, cadetblue);
  padding: 0 !important;
}

.navbar-brand {
  padding-left: 1rem;
}

.navbar-collapse {
  text-align: center;
}

.nav-link {
  color: white !important;
  font-size: 1.2rem;
}

.nav-link.special:hover {
  color: yellow !important
}

.nav-link:hover {
  color: rgb(80, 79, 79) !important;
  text-shadow: 1px 1px 0px rgba(126, 118, 118, 0.849), 1px 1px 0px rgba(0,0,0,0.15);
}

@media (max-width: 770px) {
  .nav-link {
    font-size: 1rem
  }
}

/* jumbotron */

.carousel-item__1 {
  background-image: url(./img/music1.jpg);
  font-size: 7rem;
  font-weight: 800;
  margin: auto;
  padding: 5rem 0 0 0;
  text-align: center;
  color: cadetblue;
  text-shadow: 2px 3px 2px rgb(0, 0, 0);
}

.carousel-item__2 {
  background-image: url(./img/music2.jpg);
  font-size: 5rem;
  font-weight: 400;
  margin: auto;
  padding: 10% 10% 0 10%;
  text-align: center;
  color: cadetblue;
  text-shadow: 4px 2px 2px rgb(0, 0, 0);
}

.carousel-item__3 {
  background-image: url(./img/music3.jpg);
  font-size: 5rem;
  font-weight: 400;
  margin: auto;
  padding: 10rem;
  text-align: center;
  color: cadetblue;
  text-shadow: 4px 2px 2px rgb(0, 0, 0);
}

.carousel-item__1,
.carousel-item__2,
.carousel-item__3 {
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

@media (max-width: 1700px) {
  .carousel-item__1 {
    font-size: 6.5rem;
    padding: 27vh 10% 0 10%;
  }

  .carousel-item__2,
  .carousel-item__3 {
    font-size: 4rem;
    padding: 28vh 10% 0 10%;
  }
}

@media (max-width: 1025px) {
  .carousel-item__1,
  .carousel-item__2,
  .carousel-item__3 {
    font-size: 4rem;
    padding: 30vh 10% 0 10%;
  }
}

@media (max-width: 660px) {
  .carousel-item__1,
  .carousel-item__2,
  .carousel-item__3 {
    font-size: 2rem;
    padding: 30vh 0 0 0;
  }
  .navbar-brand {
    padding-left: 0.2rem;
  }
}

@media (max-width: 420px) {
  .navbar-brand {
    display: none !important;
  }
  .navbar-text {
    padding: 3.5%;
  }

  .btn.more {
    margin: 2rem
  }
}

/* offer section */

#services {
  padding: 5rem;
  background-color: rgb(240, 236, 236);
}

.section-heading {
  color: rgb(80, 79, 79);
  font-size: 4rem;
  font-family: "Kaushan Script", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.849), 5px 4px 0px rgba(0,0,0,0.15);

}

.section-subheading {
  margin: 2rem 0 3rem;
  color: rgb(80, 79, 79);
  font-family: "Kaushan Script", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.service-heading {
  padding: 0.7rem;
  font-size: 1rem;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.fa-stack {
  opacity: 0.7;
  cursor: pointer;
}

.fa-stack:hover {
  transform: scale(1.1, 1.1);
  transition-timing-function: ease-out;
  transition-duration: 250ms;
  -webkit-transform: scale(1.1, 1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1.1, 1.1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
  opacity: 1;
}

.modal-body.offer {
background: rgba(255,255,255,0.98);
background: -moz-linear-gradient(top, rgba(255,255,255,0.98) 0%, rgba(246,246,246,0.98) 13%, rgba(234,239,239,0.98) 20%, rgba(97,156,158,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.98)), color-stop(13%, rgba(246,246,246,0.98)), color-stop(20%, rgba(234,239,239,0.98)), color-stop(100%, rgba(97,156,158,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,0.98) 0%, rgba(246,246,246,0.98) 13%, rgba(234,239,239,0.98) 20%, rgba(97,156,158,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,0.98) 0%, rgba(246,246,246,0.98) 13%, rgba(234,239,239,0.98) 20%, rgba(97,156,158,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,0.98) 0%, rgba(246,246,246,0.98) 13%, rgba(234,239,239,0.98) 20%, rgba(97,156,158,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,0.98) 0%, rgba(246,246,246,0.98) 13%, rgba(234,239,239,0.98) 20%, rgba(97,156,158,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#619c9e', GradientType=0 );
}


.modal-text {
  text-align: justify;
}

.button-link {
  color: #fff;
}

.button-link:hover {
  color: #fff
}

.btn-info.link {
  background-color: cadetblue
}

@media (max-width: 420px) {
  #services {
    padding: 2rem 0
  }
}

/* about section */

#about {
  background: rgb(118, 194, 197);
  padding: 5rem;
}

.card-title {
  padding-bottom: 2rem;
}

.card-img-bottom {
  color: #fff;
  height: 24rem;
  background: url(img/about2.jpg) center no-repeat;
  background-size: cover;
  border: 2px double black
}

.card {
  padding: 1rem;
  margin: 2rem
}

.card-text {
  text-align: justify;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding: .5rem
}

@media (max-width: 770px) {
  .card-img-bottom {
    width: 100%
  }
}

@media (max-width: 420px) {
  #about {
    padding: 2rem 0
  }

  .card-img-bottom {
    height: 10rem
  }

  .card {
    padding: 0;
    margin: 0
  }

  .card-text {
    padding: 0
  }
}

/* team section */

#team {
  padding: 5rem;
  background-color: rgb(240, 236, 236);
}

.team-name {
  padding: 0.5rem;
  font-size: 2rem;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.team-img {
  opacity: 0.9;
}
.team-img:hover {
  opacity: 1;
  transform: scale(1.05, 1.07);
  transition-timing-function: ease-out;
  transition-duration: 250ms;
  -webkit-transform: scale(1.05, 1.07);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1.05, 1.07);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
  position: relative;
  z-index: 99;
  /*-webkit-box-shadow: 4px 4px 3px 2px rgba(0,0,0,0.75);*/

  border-radius: 50%;
}

.btn-info.btn-team {
  margin-bottom: 3rem;
}

.team-text {
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-align: justify;
  margin: 1rem
}

@media (max-width: 420px) {
  #team {
    padding: 1rem 0
  }
  .team-img {
     margin: 1rem 0
  }
  .btn-info.btn-team {
    margin-bottom: 0
  }
}


/* contact section */

#contact {
  background: rgb(118, 194, 197);
  padding: 3rem 0
}

.contact-header {
  padding: 2rem 0 3rem;
}

.card {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.card-header {
  font-size: 1.8rem;
  color: rgb(80, 79, 79);
  padding: 1rem;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.list-group-item {
  font-size: 1.1rem;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.card-text.address {
  font-weight: bold
}

.social-media-icons {
  padding: 1rem 0;
}

.social-link {
  color: rgb(33,37,41) !important
}

.social-link:hover {
  color: rgb(118, 194, 197) !important
}

@media (max-width: 420px) {
  #contact {
    padding: 1rem 0
  }

  .card-title {
    font-size: 3rem;
    margin: 0;
    padding: 1rem
  }

  .card-text.title  {
    text-align: center
  }

  iframe {
    height: 10rem;
    width: 100%
  }
}

@media (max-width: 770px) {
  iframe {
    height: 10rem;
    width: 100%
  }

  .card-text.title  {
    text-align: center
  }
}

/* contact form */

#contact-form {
  padding: 5rem;
  background-color: rgb(240, 236, 236);
}

.form-classes {
  padding: 0 0 1rem
}

.form-group {
  margin: 20px
}

.form-check-statute {
  padding: 2rem 0;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: .8rem
}

.form-check-label-statute {
  margin-top: 2px
}

.form-labels {
  padding-top: 2rem
}

.submit-button {
  padding: 1rem 0 0
}

@media (max-width: 420px) {
  #contact-form {
    padding: 1rem 0
  }
  
}

/* special section */

#special {
  background: rgb(118, 194, 197);
  padding: 3rem 0;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

ul.special-list {
  list-style: none;
}

li.special-list-item:before {
  content: "🎧";
  padding: 2px 10px;
  font-size: 1.2rem
}

li.special-list-item {
  padding: 8px
}

li.special-list-item:hover {
  background-color: rgb(253, 253, 1);
}

@media (max-width: 420px) {
  #special {
    padding: 2rem 0;
  }

  li.special-list-item {
    padding: 0
  }

  li.special-list-item:before {
    padding: 0 5px 0 0 ;
    font-size: 1rem
  }

  .card-title.special {
    font-size: 2.7rem
  }

  .row.special {
    margin-left: -35px
  }
}

/* footer */

.page-footer {
  background-image: linear-gradient(to right, black, grey, cadetblue);
}

.footer-copyright {
  color: white
}

.scrollup {
  width: 64px;
  height: 64px;
  position: fixed;
  display: none;
  z-index: 99999999;
  background-image: url('http://strefakodera.pl/wp-content/uploads/2015/04/1429391284_519559-055_CircledArrowUp-64.png');
  right: 30px;
  bottom: 30px;
  transition: all 0.5s ease-in-out;
}
.scrollTopButton.show {
  visibility: visible;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

#cookies-message{ 
  color: white;
  padding: 30px;
  text-align: center;
  position: fixed;
  bottom:0px; left:0; right:0; background-color: rgba(0,0,0,0.6); z-index: 100000; box-shadow: 0 0 5px rgba(0,0,0,0.4); 
  display: block;
  width: 100%;
  font-size: 1.1rem
}

#accept-cookies-checkbox{ 
  background-color: cadetblue;
  color: #141313;
  border: solid 3px cadetblue;
  transition: all 0.5s; 
  text-align: center;
  padding: 2px 6px; 
  border-radius: 4px;
  display: inline-block; 
  /* margin-left: 10px; */
  text-decoration: none; 
  cursor: pointer
}
#accept-cookies-checkbox:hover{ 
  background-color: transparent; 
  transition: all 0.5s; 
  color: white;
  border-color: rgb(118, 194, 197);
}

.cookies-pic {
  max-width: 150px;
  padding: 1.5rem
}